

@model List<MvcApplication3.Models.Customer>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<!DOCTYPE html>
<html>


<body>
    <h2>You have been successfully registered</h2>
    <h3>You can login now</h3>
   



</body>
</html>

